body {
  font-family: Arial;
  margin: auto;
}

header {
  z-index: 1;
  background: #fff;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  box-shadow: 0px 1px 0px 0px rgba(83,69,64,0.16), 0px 1px 2px 0px rgba(0,0,0,0.1);;
}

.logo {
  width: 50px;
  float: left;
  margin: 10px;
}

.title {
  font-size: 40px;
  color: #DA552F;
  font-weight: bold;
  float: left;
  /*display: inline-block;*/
  margin-bottom: 10px;
  margin: 10px
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
  float: left;
}

.screenshot {
  height: 100%;
  width: 100%;
}

.all-collections {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

.single-collection-container {
  border: 10px solid #534540;
  width: 370px;
  height: 480px;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

.product {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #999;
  margin: 5px;
}

.follow {
  text-align: center;
  font-weight: bold;
  border: 3px solid #00B27F;
  margin: 10px;
  padding: 10px;
  background: #00B27F;
  color: #fff;
  border-radius: 20px;
}

.follow:hover {
  border: 3px solid #007f5b;
}

.user-info-container {
  padding: 10px;
  padding-top: 0;
  background: #534540;
  /*background: #756966;*/
  color: #fff;
  text-align: left;
}

.collection-name {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
}

.collection-info {
  display: inline-block;
}

.products-container {
  padding: 10px;
}

.single-collection-container:hover {
  cursor: pointer;
}

.single-collection-container:hover .screenshot {
  opacity: 0.4;
}

.collection-votes {
  background: #EDECEB;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  color: #534540;
  float: right;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 5px;
}

.left {
  float: left;
  margin-right: 10px;
}

.collection-votes:hover .fa {
  color: #DA552F;
}

.fa-sort-up {
  font-size: 30px;
}

.suggest {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  margin: 5px;
  background: #DA552F;
  color: #fff;
}

.suggest:hover {
  background: #DA552F;
}

.collection-header {
  background: #534540;
  color: #fff;
  margin-top: 101px;
  height: 100px;
  width: 100%;
  text-align: center;
}

.collection-title-lg {
  font-size: 50px;
  font-weight: bold;
}

.info {
  font-size: 20px;
}

.bullet {
  margin: 0 20px;
  font-size: 24px;
}

.colletion-summary {
  position: relative;

}

.collection-products {
  padding: 10px;
  text-align: center;
}

.related-collections,
.product-details {
  background: #fff;
  border: 5px solid #534540;
  width: 250px;
  height: 230px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 10px;
}

.product-details img {
  width: 250px;
  height: 140px;
  margin: 10px 0;
}

.deets {
  display: block;
  text-align: left;
}

.related-header,
.product-name {
  font-size: 24px;
  font-weight: bold;
  color: #534540;
}


.product-tagline {
  font-size: 16px;
  height: 50px;
  font-style: italic;
  color: #9C9999;
}

.suggest-follow {
  float: right;
  position: absolute;
  top: 0;
  left: 80%;
}

.button {
  background: #00B27F;
  display: inline-block;
  margin: 10px;
  padding: 7px 20px;
  border-radius: 20px;
  border: 3px solid #00B27F;
  font-weight: bold;
}

.follow-btn:hover {
  border: 3px solid #007f5b;
  cursor: pointer;
}

.suggest-btn {
  background: #827774;
  border-color: #827774;
}

.suggest-btn:hover {
  border: 3px solid #333;
  cursor: pointer;
}

.related-hunts {
  list-style-type: none;
  padding-top: 5px;
  font-size: 20px;
  text-align: left;
  margin: 10px 0;
  width: 100%;
  height: 50px;
}

.related-collection-name {
  float: left;
  display: inline-block;
  width: 140px;
  height: 30px;
}

.related-hunts:hover {
  cursor: pointer;
  opacity: 0.5;
}

.screenshot-lg {
  border: 1px solid #666;
}

.related-collections-plain {
  text-align: left;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #000;
  margin: 5px 0;
  border-radius: 20px;
  background: #00B27F;
 border: 3px solid #00B27F;
}

.related-collections-plain:hover {
  background: #00B27F;
  border: 3px solid #007f5b;
}
